{% extends "base.html" %}


{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{{ url_for('books.home_page') }}">Home</a></li>
  <li class="breadcrumb-item active">All Books</li>
{% endblock %}


{% block page_content %}

<ul class="nav navbar-nav">
    <li><a href="{{ url_for('books.seedDB') }}" >Seed Books in Database</a></li>
    <li><a href="{{ url_for('books.eraseDB') }}" >Erase Books from Database</a></li>
    <li><a href="{{ url_for('books.tinker') }}" >Tinker</a></li>
    <li><a href="{{ url_for('books.sql') }}" >SQL</a></li>
</ul
{% endblock %}
